/* Bereket Bessie - Formatting hearder of mission statement. */
.title {
    text-align: center;
    margin-top: 5%;
    font-size: 35px;
    font-weight: bold;
    color: #1d5f7d;
}

/* Bereket Bessie - Container for mission statement. */
.text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    grid-gap: 5em;
    flex-wrap: wrap;
    margin: 1% 8%;
    background-color: rgb(174, 192, 198);
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    padding: 50px;
}

/* Bereket Bessie - Adjusting icon sized to be more uniform. */
.text img {
    max-width: 25%;
    max-height: 25%;
}

/* Bereket Bessie - Formatting mission statment text. */
.text p {
    min-height: 250px;
    text-overflow: ellipsis;
    color: #13465f;
    background-color: rgb(209, 232, 240, 0.5);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(1, 15, 21, 0.5);
    padding: 10px;
    font-weight: 400;
    margin-left: 20px;
    overflow-y: auto;
}

/* Bereket Bessie - Container for mission statements */
.text-content {
    max-width: 500px;
    max-height: 400px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

/* Bereket Besssie - Container for individuals info. */
.row {
    padding: 3em;
    display: flex;
    text-align: center;
    grid-gap: 5em;
    flex-wrap: wrap;
}

/* Bereket Bessie - Formatting individual info items. */
.col {
    flex: 1;
    border-radius: 0.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    color: black;
}

/* Bereket Bessie - Container for video. */
.video {
    display: flex;
    justify-content: center;
}

/* Bereket Bessie - Formatting of video. */
.vid {
    width: 80%;
    margin: 3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

/* Bereket Bessie - Container for personal written info. */
.detail {
    width: 100px;
    height: 25px;
    font-size: 12px;
    color: white;
    background: black;
    padding: 3px;
    border-radius: 5%;
}

/* Bereket Bessie - Formatting of personal written info. */
.more-details,
.more-details1 {
    margin: 10px;
    display: none;
}

/* Bereket Bessie - Formatting of view deail buttons. */
.detail-btn1,
.detail-btn2 {
    padding: 3px;
    border-radius: 15px;
    color: cornsilk;
    background-color: black;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Bereket Bessie - Adjusting images of both individuals. */
.profiles1,
.profiles2 {
    padding-top: 10px;
    display: inline-block;
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}