html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.maincontent {
  flex: 1;
}

.mainfooter {
  flex-shrink: 0;
}