/* Bereket Bessie - */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Bereket Bessie - */
.maincontainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Bereket Bessie - */
.maincontent {
  flex: 1;
}

/* Bereket Bessie - */
.mainfooter {
  flex-shrink: 0;
}

/* Bereket Bessie - Formatting catagory headers. */
.title {
  margin-top: 20px;
  margin-left: 30px;
  font-size: larger;
}