.accItem > a{
    color: black;
}

.accItem > a:hover{
    color: #89CFF0;
}

.accItem {
    flex:1;
    width:20%;
    min-width: 300px;
    border-radius: 0.3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}