* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #89CFF0;
}

/* Bereket Bessie - Header */
.search-form {
  flex: 1;
}

/* Bereket Bessie - Container for the search-box and search-btn. */
.search_box {
  max-width: 700px;
  width: 100%;
  max-height: 60px;
  display: inline-flex;
  background: #aa440e;
  padding: 14px;
  border-radius: 50px;
  align-content: center;
  align-items: center;
  margin-left: 10%;
}

/*Bereket Bessie - Container for the search-box and search-btn for page size below 950px. */
.searchbox_moblie {
  width: 100%;
  display: inline-flex;
  align-content: center;
  border-radius: 50px;
  border: 2px solid;
}

/*Bereket Bessie - Search button that submits search form. */
.search_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f58e53;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 15px;
  padding: 3px 1px;
  cursor: pointer;
}

/*Bereket Bessie - Search-box that takes text input. */
.mySearch {
  width: 100%;
  padding: 5px;
  border-radius: 50px;
  outline: none;
  border: 0;
  background: #f1f1f1;
  color: #111;
  padding: 12px 20px;
  height: 30px;
  border-radius: 50px;
}

/*Bereket Bessie - Formatting the text displayed the search box. */
::-webkit-input-placeholder {
  color: black;
  font-weight: 500;
}

/*Bereket Bessie - Containter for the account icon and account link. */
.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin-left: 5%;
}

/*Bereket Bessie - Formattiing the link to Account page. */
#account {
  font-size: x-large;
  font-weight: bold;
  color: #111;
}

/*Bereket Bessie - Changing the color Account link when mouse hoveres over. */
#account:hover {
  color: white;
}

/*Bereket Bessie - Container for the Navbar. */
.navbar {
  width: 100%;
  height: 1.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: black;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  padding: 15px 100px;
}

/* Bereket Bessie - Changing the color of Catagroies on the navbar to help to the user identify which catagroies they are viewing. */
#category:hover {
  border-bottom: 1px solid #ddd;
  color: #7f8183;
  transition: 0.2s;
}

/* Bereket Bessie - Container for the sub-catagories within the main catagories. Set the display to none make it hidden. */
.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: space-between;
  padding: 0em 3em;
  line-height: 2;
  color: #818181;
  font-size: larger;
  z-index: 1;
}

/* Bereket Bessie - Containers for all individual sub-catagory and formatting that makes them have even width size. */
.dropdown-content div {
  flex: 1;
  padding: 10px;
}

/* Bereket Bessie - Formatting sub-catagories links. */
.dropdown-content a {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

/* Bereket Bessie - Makes the container for the sub-catagories visble one mouse hovers over each specifc catagory. */
.dropdown:hover .dropdown-content {
  display: flex;
}


/* Bereket Bessie - Container for Top navigation. */
.topnav {
  width: 100%;
  max-height: 50px;
  margin-bottom: 1px;
  padding: 2em 0.5em;
  display: flex;
  background-color: darkorange;
  justify-content: space-between;
  align-items: center;
}

/* Bereket Bessie - Modify logo size to fit the window size. */
.logo img {
  max-width: 100%;
  object-fit: cover;
}

/* Bereket Bessie - Formatting cart icon and item-counter. */
.cart {
  margin: -6px 15px 0px 10px;
  display: block;
  text-align: center;
}

/* Bereket Bessie - Container for the menu bars made hidden till window size is 950px. */
.hamburger {
  display: none;
}

/* Bereket Bessie - Formatting and making transation speed of menu bars. */
.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Bereket Bessie - Animation for the middle bar to make it hidden. */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/* Bereket Bessie - Animation for the first bar to make it rotate 45 degrees. */
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

/* Bereket Bessi - Animation fo thte third bar to make it roate - 45 degrees. */
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Bereket Bessie - Formatting hamburger menu items. */
.nav-link {
  margin: 0px 25px;
  padding: 1.5em 1em;
  display: block;
  text-align: start;
  color: black;
  font-weight: 550;
  border-radius: 50px;
  transition: 0.2s ease-in;
  flex: 1;
}

/* Bereket Bessie - Resizing and agjusting position of the icons associated with hamburger menu items. */
.nav-link>img {
  width: 30px;
  height: 30px;
  margin: -10px 0;
  margin-right: 20px;
}

/* Bereket Bessie - Creating a visual indicator for which item is being view in the hamburger menu items. */
.nav-link:hover {
  color: black;
  border-radius: 50px;
  background-color: gray;
}

/* Bereket Bessie - Container for the hamburger menu items that is hidden. */
.nav-menu {
  position: absolute;
  left: -100%;
  top: 7rem;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.95);
  text-align: center;
  font-size: medium;
  border-radius: 2px;
  transition: 0.3s;
  flex: 1;
  z-index: 1;
}

/* Bereket Bessie - Containter for seach-bar form in the hamburger menu*/
.nav_moblie {
  margin: 2px 20px;
  padding: 8px;
  background-color: rgb(114, 112, 112);
  border-radius: 50px;
}

/* Bereket Bessie - Media qeury that functions to hides navbar catagories when screen size is below 950px and displays repsonsive hamburger bar and menu  */
@media only screen and (max-width: 950px) {

  .searchbox_moblie,
  .mySearch {
    border: none;
  }

  .search_btn {
    background-color: rgb(193, 192, 192);
  }

  .navbar {
    padding: 10px;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .search-form,
  .dropdown {
    display: none;
  }
}

/* Annie Tran - Footer */
footer {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background-color: darkorange;
}

/* Bereket Bessie - Container for footer nav items set to fill footer. */
.footer-nav {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 2em;
  text-align: center;
  flex-wrap: wrap;
  color: black;
}

/* Bereket Bessie - Formatting individual nav items. */
.footer-item {
  width: 100%;
  min-width: 300px;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: 1;
}

/* Bereket Bessie - Formatting nav link information pages. */
.footer-nav a {
  display: block;
}

/*  Bereket Bessie - Formatting soical media icons */
.links {
  width: 100%;
  min-height: 40px;
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 5px;
}

/*  Bereket Bessie - Copy rights disclamier. */
#copyRight {
  margin-left: 40%;
}

/* Annie Tran */
/* Main */
/* Carousel */

* {
  box-sizing: border-box
}

/* Annie Tran - The cover-photo-carousel */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Annie Tran - Each slide */
#item1 {
  background-color: #e5d9bf;

}

#item2 {
  background-color: #797faf;

}

#item3 {
  background-color: #8387a9;

}

#item4 {
  background-color: #241964;

}

#item5 {
  background-color: #f3efe3;

}


/* Annie Tran - forward & Back buttons */


/* Annie Tran - Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* Annie Tran - when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  padding-left: 30px;
  padding-right: 30px;
}
/* Annie Tran - The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Annie Tran - Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}
/* Annie Tran - Style each image of each slide */
.slideImage {
  object-fit: cover;
  margin-left: 30%;
  border-radius: 10%;
  max-height: 550px;
  width: 100%;
  z-index: 0;
  margin-bottom: -4px;
}


*{
  box-sizing: border-box;
}

/* Annie Tran */
/* The slides for Best Sellers */
/* My slider with tns */
.slide-img img {
  width: 100%;
  max-width: 300px;
  height: 350px;
  object-fit: cover;
  border: 2px solid black;

}

/* Annie Tran - Make the slide responsive */
@media (max-width: 950px) {
  .container {
    width: 100%;
  }
}
/* Annie Tran - Style the slide buttons */
.slide-prev,
.slide-next {
  background-color: white;
  border-color: transparent;
  cursor: pointer;
  top: 48%;
  margin-top: -23px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-size: 19px;
  color: grey;


}




