* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #002244;
  transition: 0.2s ease-in-out;
}

/* Bereket Bessie - Header */
.search-form {
  flex: 1;
}

/* Bereket Bessie - Container for the search-box and search-btn. */
.search_box {
  max-width: 700px;
  width: 100%;
  max-height: 60px;
  display: inline-flex;
  background: #aa440e;
  padding: 14px;
  border-radius: 50px;
  align-content: center;
  align-items: center;
  margin-left: 10%;
}

/*Bereket Bessie - Container for the search-box and search-btn for page size below 950px. */
.searchbox_moblie {
  width: 100%;
  display: inline-flex;
  align-content: center;
  border-radius: 50px;
  border: 2px solid;
}

/*Bereket Bessie - Search button that submits search form. */
.search_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f58e53;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 15px;
  padding: 3px 1px;
  cursor: pointer;
}

/*Bereket Bessie - Search-box that takes text input. */
.mySearch {
  width: 100%;
  padding: 5px;
  border-radius: 50px;
  outline: none;
  border: 0;
  background: #f1f1f1;
  color: #111;
  padding: 12px 20px;
  height: 30px;
  border-radius: 50px;
}

/*Bereket Bessie - Formatting the text displayed the search box. */
::-webkit-input-placeholder {
  color: black;
  font-weight: 500;
}

/*Bereket Bessie - Containter for the account icon and account link. */
.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin-left: 5%;
}

/*Bereket Bessie - Formattiing the link to Account page. */
#account {
  font-size: x-large;
  font-weight: bold;
  color: #111;
}

/*Bereket Bessie - Changing the color Account link when mouse hoveres over. */
#account:hover {
  color: white;
}

/*Bereket Bessie - Container for the Navbar. */
.navbar {
  width: 100%;
  height: 1.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: #F46A34;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f4652c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f46024' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f45b1d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f45715' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F4520D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f45a1a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f46227' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f46a34' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f47241' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F47A4E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
 border-top: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  padding: 15px 100px;
}
#category {
  color:black;
  font-weight: 400;
}
/* Bereket Bessie - Changing the color of Catagroies on the navbar to help to the user identify which catagroies they are viewing. */
#category:hover {
  border-bottom: 1px solid #ddd;
  color: #b4b6b8;
  transition: 0.2s;
}

/* Bereket Bessie - Container for the sub-catagories within the main catagories. Set the display to none make it hidden. */
.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  background-color: #F46A34;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f4652c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f46024' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f45b1d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f45715' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F4520D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f45a1a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f46227' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f46a34' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f47241' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F47A4E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-between;
  padding: 0em 3em;
  line-height: 2;
  color: #002244;
  font-size: larger;
  transition: 5s ease-in-out;
  z-index: 1;
}

/* Bereket Bessie - Containers for all individual sub-catagory and formatting that makes them have even width size. */
.dropdown-content div {
  flex: 1;
  padding: 10px;
}

/* Bereket Bessie - Formatting sub-catagories links. */
.dropdown-content a {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 350;
}
.dropdown-content1 {
  position: absolute;
  right: auto;
  padding: 0 5px;
  display: none;
  background-color: #F46A34;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f4652c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f46024' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f45b1d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f45715' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F4520D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f45a1a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f46227' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f46a34' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f47241' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F47A4E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  transition: 5s ease-in-out;
  z-index: 1;
}

.dropdown-content1 a {
  display: block;
  text-align: center;
  font-size: medium;
  font-weight: 500;
}

/* Bereket Bessie - Makes the container for the sub-catagories visble one mouse hovers over each specifc catagory. */
.dropdown:hover .dropdown-content{
  display: flex;
}

.dropdown:hover .dropdown-content1{
  display: flex;
}
/* Bereket Bessie - Container for Top navigation. */
.topnav {
  width: 100%;
  max-height: 50px;
  margin-bottom: 1px;
  padding: 2em 0.5em;
  display: flex;
  background-color: #F46A1F;
  justify-content: space-between;
  align-items: center;
}

/* Bereket Bessie - Modify logo size to fit the window size. */
.logo img {
  max-width: 100%;
  object-fit: cover;
}

/* Bereket Bessie - Formatting cart icon and item-counter. */
.cart {
  margin: -6px 15px 0px 10px;
  display: block;
  text-align: center;
}

/* Bereket Bessie - Container for the menu bars made hidden till window size is 950px. */
.hamburger {
  display: none;
}

/* Bereket Bessie - Formatting and making transation speed of menu bars. */
.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Bereket Bessie - Animation for the middle bar to make it hidden. */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/* Bereket Bessie - Animation for the first bar to make it rotate 45 degrees. */
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

/* Bereket Bessi - Animation fo thte third bar to make it roate - 45 degrees. */
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Bereket Bessie - Formatting hamburger menu items. */
.nav-link {
  margin: 0px 25px;
  padding: 1.5em 1em;
  display: block;
  text-align: start;
  color: black;
  font-weight: 550;
  border-radius: 50px;
  transition: 0.2s ease-in;
  flex: 1;
}

/* Bereket Bessie - Resizing and agjusting position of the icons associated with hamburger menu items. */
.nav-link>img {
  width: 30px;
  height: 30px;
  margin: -10px 0;
  margin-right: 20px;
}

/* Bereket Bessie - Creating a visual indicator for which item is being view in the hamburger menu items. */
.nav-link:hover {
  color: black;
  border-radius: 50px;
  background-color: gray;
}

/* Bereket Bessie - Container for the hamburger menu items that is hidden. */
.nav-menu {
  position: absolute;
  left: -100%;
  top: 7rem;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.95);
  text-align: center;
  font-size: medium;
  border-radius: 2px;
  transition: 0.3s;
  flex: 1;
  z-index: 1;
}

/* Bereket Bessie - Containter for seach-bar form in the hamburger menu*/
.nav_moblie {
  margin: 2px 20px;
  padding: 8px;
  background-color: rgb(114, 112, 112);
  border-radius: 50px;
}

/* Bereket Bessie - Media qeury that functions to hides navbar catagories when screen size is below 950px and displays repsonsive hamburger bar and menu  */
@media only screen and (max-width: 950px) {

  .searchbox_moblie,
  .mySearch {
    border: none;
  }

  .search_btn {
    background-color: rgb(193, 192, 192);
  }

  .navbar {
    padding: 10px;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .search-form,
  .dropdown {
    display: none;
  }
}

/* Bereket Bessie - Footer */
footer {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background-color: #ee5522;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f4652c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f46024' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f45b1d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f45715' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F4520D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f45a1a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f46227' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f46a34' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f47241' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F47A4E' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Bereket Bessie - Container for footer nav items set to fill footer. */
.footer-nav {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 2em;
  text-align: center;
  flex-wrap: wrap;
  color: black;
  }

/* Bereket Bessie - Formatting individual nav items. */
.footer-item {
  width: 100%;
  min-width: 300px;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:1;
}

/* Bereket Bessie - Formatting nav link information pages. */
.footer-nav a {
  display: block;
}

/*  Bereket Bessie - Formatting soical media icons */
.links {
  width: 100%;
  min-height: 40px;
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 5px;
}

/*  Bereket Bessie - Copy rights disclamier. */
#copyRight {
  margin-left: 40%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
 }
 
 
 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(146, 141, 141);
  transition: .4s;
  border-radius: 34px;
 }
 
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
 }
 
 
 input:checked+.slider {
  background-color: #002244;
 }
 
 
 input:checked+.slider:before {
  transform: translateX(26px);
 }
 
 
 .toggle {
  margin: 5px 0;
  display: flex;
  line-height: 32px;
  justify-content: center;
  font-size: medium;
 }
 
 
 .switch-title{
  padding:5px;
  color:#002244;
  border-radius: 50px;
  background-color: #c6c7ca;
 }
 
 
 .card-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23002244'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='508' height='423.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: none;
  overflow-x: scroll;
 }
 
 
 .card-container::-webkit-scrollbar {
  width: 0;
 }
 
 
 .card {
  position: relative;
  min-width:300px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
 }
 
 
 .card-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
 }
 
 
 .card-image img {
  min-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
 }
 
 
 .card-username {
  font-size: 18px;
  font-weight: bold;
 }
 
 
 .card-content {
  padding: 10px;
 }
 
 
 .card-title {
  color:#002244;
  font-size: 24px;
  margin-bottom: 10px;
 }
 
 
 .card-description {
  font-size: 16px;
  line-height: 1.5;
 }
 
 .card-contact {
  position: absolute;
  color:white;
  bottom:10px;
  right: 10px;
  padding:5px;
  font-size: small;
  background-color: rgb(230, 224, 221);
  border-radius: 15px;
 }
 .req {
  position: relative;
  padding: 20px ;
  font-size: xx-large;
  writing-mode:vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
 }
 
 
 .req button {
  border:none;
  background: none;
  position: absolute;
  margin: 21px 0;
  left: 7.5px;
 }

 
/* Annie Tran */
/* Main */
/* Carousel */

* {
  box-sizing: border-box
}

/* Annie Tran - The cover-photo-carousel */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: none;
}
/* Annie Tran - Each slide */
#item1 {
  background-color: #e5d9bf;

}

#item2 {
  background-color: #797faf;

}

#item3 {
  background-color: #8387a9;

}

#item4 {
  background-color: #241964;

}

#item5 {
  background-color: #f3efe3;

}


/* Annie Tran - forward & Back buttons */


/* Annie Tran - Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* Annie Tran - when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  padding-left: 30px;
  padding-right: 30px;
}
/* Annie Tran - The circles or bullets and indicators */


.enable,
.dots:hover {
  background-color: #717161;
}

/* Annie Tran - Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 2
  }
}
/* Annie Tran - Style each image of each slide */
.slideImage {
  object-fit: cover;
  margin-left: 30%;
  border-radius: 10%;
  max-height: 550px;
  width: 100%;
  z-index: 0;
  margin-bottom: -4px;
}


*{
  box-sizing: border-box;
}





/* Annie Tran */
/* The slides for Best Sellers */
/* My slider with tns */
.slide-img img {
  width: 100%;
  max-width: 300px;
  height: 350px;
  object-fit: cover;
  /* border: 2px solid black; */

}


/* Annie Tran - Make the slide responsive */
@media (max-width: 950px) {
  .container {
    width: 100%;
  }
}
/* Annie Tran - Style the slide buttons */
.slide-next {
  right: 0;
}
.slide-prev,
.slide-next {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  top: 48%;
  margin-bottom: -50%;
  /* padding-left: 250px;
  padding-right: 250px; */
  font-weight: bold;
  font-size: 19px;
  color: grey;


}
.slide-prev {
  padding-right: 90%;
}
.slide-next {
  padding-right: -90%;
}


/* .slide-prev {
  padding-left: -200em;
}
.slide-next {
  padding-left: 50em;
} */


/* Annie Tran - Slide for the cover */
.cover img{
  width: 100%;
  max-width: 2000px;
  height: 450px;
  object-fit: cover;
  margin-left: 30%;
}
#slide-prev-cover {
  margin-left: 3%;
  padding-right: 90%;
}
#slide-next-cover {
  padding-right: -90%;
}





