/* Header */
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

.top-nav {
  height:80px;
  background-color: #EC6107;
  align-items: center;
  display: flex;
}
.nav-item {
  flex:1;
}

.logo {
  min-width: 90%;
  height: auto;
}

.search-form {
  flex-shrink: 1;
}

.search_box {
width: 110%;
background:#aa440e;
padding:14px;
border-radius: 50px;
display:inline-flex;
align-content: center;
margin-left: 15%;
}

.search_box .search_btn {
width: 30px;
height: 30px;
border-radius: 50%;
background: #f58e53;
justify-content: center;
align-items: center;
color:#fff;
margin-left:15px;
padding:3px 1px;
cursor: pointer;
}

.search_box .mySearch {
outline:none;
border:0;
background: #f1f1f1;
color:#111;
padding:12px 20px;
width:100%;
height: 30px;
border-radius: 50px;
}

::placeholder{
color:#818181
}

::-webkit-input-placeholder{
color:#111;
}

.personal {
width: 100px;
height: 80px;
padding-right: 20px;
gap:3em;
display:flex;
align-items: center;
float: right;
margin-right: 100px
} 

#account {
font-size: x-large;
font-weight: bold;
color:#111;
}

#account:hover {
color:white;
}

.cart:hover{
  border-bottom:3px solid #f1f1f1;
  transition: 0.1s ease-in;
}

.navbar {
  width: 100%;
  min-height: 40px;
  display:flex;
  gap: 10%;
  justify-content: center;
  background-color: black;
  border-top:2px solid white;
  margin-bottom: 2px;
}

.navbar a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

.dropdown-content {
  position:absolute;
  left:0;
  display: none;
  width:100%;
  border-spacing:20px;
  padding: 1em 3em;
  line-height: 2;
  color:#818181;
  font-size: larger;
  background-color: black;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display:flex;} 

#category:hover{
  border-bottom: 1px solid #ddd;
  color: #89CFF0;
  transition: 0.2s;
}

.dropdown-content div {
  flex:50%;
  padding: 10px;
}
.dropdown-content a {
  text-align: left;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.dropdown-content a:hover {
  color: #89CFF0;
}

header {
  position:relative;
 }

/* Footer */
.footernav{
  background-color: #EC6107;
  border-color:black;

}

.footernav ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}

.footernav a {
  color: black;

}

.aboutus {
  margin-top: 2em;
}
.aboutus a{
  flex: 1;
  left: 50%;

}

.aboutus {
  border-color: #111;
  color: #aa440e;
}
footer {
  background-color: #EC6107;
}

#copyRight {
  background-color: #EC6107;
  margin-left: 45%;
  
}

/* Main */
/* Carousel */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  /* background-color: #ded2ae; */


}

#item1 {
  background-color: #ded2ae;

}

/* Make the images invisible by default */


/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  padding-left: 30px;
  padding-right: 30px;

  
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

.slideImage {
  object-fit: cover;
  margin-left: 30%;
  border-radius: 45%;

}

/* end of Carousel */


.cover {
  text-align: center;
}
*{
  box-sizing: border-box;
}

.gallery {
  background-color: #818181;
  padding: 20px;
}

.gallery img{
  width: 100%;
  max-width: 250px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
}

.gallery a {
  margin-right: 40px;
}

/* Carousel container for the best seller */
.carousel-container {
  width: 1100px;
  margin: 50px auto;
  position: relative;
  /* border-left-width: 4px;
  border-left-style: solid; */
  /* border-left-color: #aaa; */

  
}
.carousel-container h1 {
  color: black;
}
@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}
.inner-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card-container {
  width: 275px;
  height: 400px;
  flex-shrink: 0;
  padding-right: 10px;
}
.card-container img {
  width: 100%;
  max-width: 250px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
}
@media (max-width: 768px) {
  .card-container {
    width: 184px;
  }
}
.card {
  width: 100%;
  height: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  background-position: center bottom;
  background-size: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}


.card1 {
  background-image: url("images/academics/Chemtextbook.jpg");
}
.card2 {
  background-image: url("images/academics/EconTextbook.jpg");
}
.card3 {
  background-image: url("images/academics/stattextbook.jpg");
}
.card4 {
  background-image: url("images/academics/physics.jpg");
}
.card5 {
  background-image: url("images/academics/travel.jpg");
}


.nav button {
  /* cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none; */




  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  
}
.nav .prev {
  left: -30px;
  display: none;
  /* cursor: pointer; */
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
  cursor: pointer;
  
}
.nav .next.hide {
  display: none;
}

