
.itemclass {
    display: flex;
    justify-content:left;
}

.item-pic img {
    height: 500px;
    padding: 50px 150px 50px 50px;
}

@media only screen and (max-width: 720px){
    .item-pic img {
    height: 350px;
    padding: 50px 10px 0px 10px;
}
}
.description {
    padding-top: 3%;
}

.description > h1 {
    text-decoration: none;
    margin:10px 10px 0px;
    font-size: 30px;
    
}

.description > h2 {
    margin:10px 10px 0px;

    font-size: 25px;
}
#text {
    font-size: 20px;
        margin:10px 10px 0px;

}

.review-row {
        margin:10px 10px 0px;

    display: flex;
}

.review-row p {
        margin:10px 10px 0px;

    padding-top: 4%;
    padding-left: 1%;
}
.quality-sel {
    height: 50px;
    width: 50px;
        margin:10px 10px 0px;

}

.add-button {
    height: 50px;
    width: 150px;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    background-color: orange;
        margin:10px 10px 0px;

}
.rating{
    margin:10px 10px 0px;
}

.rating h1 {
    font-size: 20px;
        margin:10px 10px 0px;
}