header {
    background-color: aqua;
    border-color: brown;
}

.headlist {
    list-style: none;
    display: flex;
    
}
.navbar {
    background-color:aliceblue;
    border-color: black;
    margin-bottom: 0em;
}

#aboutTitle {
    border-radius: 0.5px;
    background-color:aliceblue;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 600;
    padding-top: 1em;
    margin-left: 40%;
    text-align: center;
    
    
}
#aboutTitle > h1 {
    text-align: center;
}

.profile {
    background-color: lightsteelblue;
    background-size: 100em;
    padding: 10em;
}

.profiles{
    border-radius: 4px;
    width: 500px;
}
