*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(110, 103, 103);
}
header {
    position: fixed;
    width: 100%;
    background-color: #EC6107 ;
    border-color: brown;
}

.headlist {
    list-style: none;
    display: flex;
    
}
.nav-item{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}


.navbar {
    position: fixed;
    width: 100%;
    min-height: 70px;
    display:flex;
    align-items: center;
    padding:0 24px;
    background-color: black;
    margin-bottom: 10px;
    margin-top: -4px;
}
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


.nav-menu{
    display: flex;
    gap:45%;
    font-weight: bold;
    font-size: 25px;
    padding:0 10%
}

.hamburger {
    display:none;
    cursor:pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-item a:hover{
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: rgba(249, 245, 245, 0.517);
    transition: 0.5s;
}


#aboutTitle {
    border-radius: 0.5px;
    background-color:aliceblue;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 600;
    padding-top: 1em;
    margin-left: 40%;
    text-align: center;
    
    
}

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
#aboutTitle > h1 {
    text-align: center;
}

.allProfiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* padding: 20px 10px; */
    /* max-width: 1400px; */
    margin: 10px;
    margin-left: 30px;
    gap: 31%;
}
.profiles{
    margin-top: 180px;
    border-radius: 4px;

    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
}

/* Footer */
.footernav{
    background-color: #EC6107;
    border-color:black;

}

#footerPic {
    margin-bottom: -4px;
}

footer {
    background-color: #EC6107;
}

#copyRight {
    background-color: #EC6107;
    margin-left: 40%;
    
}