header {
    background-color: aqua;
    border-color: brown;
}

.headlist {
    list-style: none;
    display: flex;
}
.navbar {
    background-color:aliceblue;
    border-color: black;
    margin-bottom: 0em;
}

#aboutTitle {
    background-color:aliceblue;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 600;
    padding: 2em;
    
}