/* Header */
header {
    background-color: fuchsia;
    border-color: brown;
    margin-bottom: -1px;
    padding: -1px;
}

.header-headlist {
    list-style: none;
    display: flex;
}
.navbar {
    background-color: yellow;
    border-color: black;
    background-size: cover;
    margin-bottom: -10px;
    /* padding: 2em; */
    /* margin-top: 0em; */
}

.header-searchbox, .header-cart, .header-account {
    margin-top: 3.5em;
    margin-left: 3.5em;
}

.header-logo {
    background-color: fuchsia;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}


/* Footer */
.footernav{
    background-color: dimgray;
    border-color:black;
}