/* Header */
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

.top-nav {
  height:80px;
  background-color: #EC6107;
  align-items: center;
  display: flex;
}
.nav-item {
  flex:auto;
  gap:10%;
}

.logo {
  width: 25em;
}

.search_box {
width: 30em;
background:#aa440e;
padding:14px;
border-radius: 50px;
display:inline-flex;
align-content: center;
}

.search_box .search_btn {
width: 30px;
height: 30px;
border-radius: 50%;
background: #f58e53;
justify-content: center;
align-items: center;
color:#fff;
margin-left:15px;
padding:3px 1px;
cursor: pointer;
}
.search_box .mySearch {
outline:none;
border:0;
background: #f1f1f1;
color:#111;
padding:12px 20px;
width:500px;
height: 30px;
border-radius: 50px;
}

::placeholder{
color:#818181
}

::-webkit-input-placeholder{
color:#111;
}

.personal {
position: relative;
width: 100px;
height: 80px;
gap:3em;
display:flex;
flex-direction: row;
align-items: center;
} 

#account {
font-size: x-large;
font-weight: bold;
color:#111;
}

#account:hover {
color:white;
}

#cart:hover{
  border:3px solid #f1f1f1;
  border-radius: 5px ;
  transition: 0.1s ease-in;
}

.navbar {
  width: 100%;
  min-height: 40px;
  display:flex;
  gap: 10%;
  justify-content: center;
  background-color: black;
  border-top:2px solid white;
  margin-bottom: 2px;
}

.navbar a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

.dropdown-content {
  position:absolute;
  left:0;
  display: none;
  width:100%;
  min-height: 50%;
  padding: 1em 3em;
  line-height: 2;
  background-color: black;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display:block;} 

.nav-item a:hover{
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: rgba(249, 245, 245, 0.517);
  transition: 0.5s;
}

.dropdown-content a {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.dropdown-content a:hover {
  border:none;
  color:rgb(63, 63, 62);
}

header {
  position:relative;
 }

/* Footer */
.footernav{
  background-color: #EC6107;
  border-color:black;

}

.footernav ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}

.footernav a {
  color: black;

}

.aboutus {
  margin-top: 2em;
  margin-left: 24%;
}
/* .aboutus a{
  margin-left: 34em;

} */

.aboutus {
  border-color: #111;
  color: #aa440e;
}
footer {
  background-color: #EC6107;
}

#copyRight {
  background-color: #EC6107;
  margin-left: 45%;
  
}

/* Main */
/* Carousel */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Make the images invisible by default */


/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

.slideImage {
  object-fit: cover;
}

/* end of Carousel */

.cover {
  text-align: center;
}
*{
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: 350px;
  object-fit: cover;

}

.gallery div {
  margin: 0;
  font-family: sans-serif; 
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 20px 10px; */
  /* max-width: 1400px; */
  margin: 0 auto;
  gap: 16px;
  /* width: 100%; */

}

.gallery ul {
  display: table;
  width: 100%;
}

.gallery li {
  display: table-cell;
}

.gallery a {
  display: block;
  border: 1px solid;
  text-align: center;
  margin: 0 5px;
  background: white;
}
  /* change the font-family later */
/* .gallery {
  margin: 0;
  font-family: sans-serif; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */